.wallPostModalImage{
    width: 100%;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;


}
.clickOpacity:active{
    opacity: 0.5;
}
.wallPostModalPopupImage{
    width: 80%;
    border-radius: 5px;


}
.wallPostModalSocialIcon{
    width: 30px;
    border-radius: 5px;
    border: solid 1px grey
}
.wallPostModalInnerRight{
    background-color: lightgrey;
}
.myScroller {

    scrollbar-width: thin;
}

.wallPostModalInner{
    background-color: white;
    border-radius: 10px;
    height: 80vh;
    overflow: hidden;

    background-color: lightgrey;

}
.wallPostModalInnerLeft{
   background-color: white;
    min-height:80vh;


}
.wallPostModalInnerLeftTextOuter{
    overflow: auto;
    max-height: 60vh;
}
.wallPostModalInnerLeftTextOuter::-webkit-scrollbar {
    width: 10px;
}
.wallPostModalInnerLeftTextOuter::-webkit-scrollbar-track {
    background: #CFD8DC;
}
.wallPostModalInnerLeftTextOuter::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 6px;
    border: 3px solid #CFD8DC;
}
.wallPostModalInnerLeftText
{
    font-size: 35px;
    color: lightgrey;
}
.wallPostModalCloseBox {
    color: white;
    font-size: 40px
}
.wallPostCard {
    border-radius: 6px;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .wallPostModalInner{
        background-color: white;
        border-radius: 10px;
        min-height: 80vh;
        /*overflow: auto;*/


    }
    .wallPostModalSocialIcon{

    }
    .wallPostModalPopupBody{
        padding: 0;
        margin: 0;

    }
    .wallPostModalPopupImage{
        width: 100%;
        box-shadow:none;
        border-radius: 0px;


    }
    .wallPostModalInnerRight{
        background-color:white;
        padding: 0;
        margin-top: -10px;

    }
    .wallPostModalInnerLeftText{
        font-size: 17px;
        height: 100px;
        overflow: auto;




    }
    .wallPostModalCloseBox {
font-size: 26px;
  /*asdasd*/

    }
    /*sa*/
    .wallPostModalImage{
margin-top: -20px;


    }
}
