.wallPostModalImage{
    width: 100%;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    margin-top: -10px;

}
.wallPostModalPopupImage{
    width: 80%;
    border-radius: 5px;


}
.wallPostModalInnerRight{
    background-color: lightgrey;
}

.wallPostModalInner{
    background-color: white;
    border-radius: 10px;
    height: 80vh;
    overflow: hidden;

    background-color: lightgrey;

}
.wallPostModalInnerLeft{
   background-color: white;
    min-height:80vh;

}
.wallPostModalInnerLeftText
{
    font-size: 35px;
    color: lightgrey;
}
.wallPostModalCloseBox {
    color: white;
    font-size: 40px
}
.wallPostCard {
    border-radius: 6px
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .wallPostModalInner{
        background-color: white;
        border-radius: 10px;
        min-height: 80vh;
        overflow: auto;


    }

    .wallPostModalPopupImage{
        width: 100%;
        box-shadow:none;
        border-radius: 0px;


    }
    .wallPostModalInnerRight{
        background-color:white;
        padding: 0;
        margin-top: -10px;
    }
    .wallPostModalInnerLeftText{
        font-size: 17px;

    }
    .wallPostModalCloseBox {
font-size: 26px;

    }
    /*sa*/
}
